/* Header */
/* Color logo "WEB" - #4D5AE5 */
/* Color logo "STUDIO" - #2E2F42 */
/* Color nav - #2E2F42 */
/* Color address info - #2E2F42 */

/* Hero image */
/* Color h1 - #FFFFFF */
/* Color butt - #F4F4FD */
/* Background color - #2E2F42 */

/* Section1 */
/* Color h2 section 1 - #2E2F42 */
/* Color p section 1 - #434455 */

/* Section2 */
/* Color h2 section 2 - #2E2F42 */

/* Section3 */
/* Color h2 section 3 - #2E2F42 */
/* Color name cection 3 - #2E2F42 */
/* Color p section 3 - #434455 */
/* Background color - #F4F4FD */

/* Footer */
/* Color text footer - #F4F4FD */
/* Background color - #2E2F42 */

:root {
    --accent-color: #2E2F42;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
}

/* Page Header */

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1158px;
    outline: 2px solid red;
}

.logo {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.header-link {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

.contacts-link {
    var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

/* Hero Title */

.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--accent-color);
}

.hero-title {
    margin-top: 0;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.modal-btn {
    text-align: center;
    display: inline-block;
    min-width: 130px;
    border-radius: 4px;
    padding: 16px 32px;
    margin-top: 48px;

    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

/* About us */

.about-name {
    margin-top: 120px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.info {
    padding-top: 8px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Projects */

.projects-team {
    margin-top: 120px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
}

.projects-list__team {
    padding-top: 72px;
}

/* Team */

.team {
    margin-top: 120px;
    padding-bottom: 120px;
    padding-top: 120px;
    background-color: #F4F4FD;
}

.team-list {
    padding-top: 72px;
}

.team-title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
}

.team-item {
    background-color: #FFFFFF;
    width: 264px;
}

.name-worker {
    margin-top: 32px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.info-name-worker {
    margin-top: 8px;
    padding-bottom: 32px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Footer */

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: var(--accent-color);
}

.footer-subtitle {
    margin-top: 16px;
}

.footer-logo-span {
    color: #F4F4FD;
}

/* Portfolio */
/* Site nav */

.projects-nav {
    margin-top: 96px;
}

.first-projects {
    padding-top: 72px;
}

.second-projects {
    padding-top: 48px;
}

.third-projects {
    padding-top: 48px;
    padding-bottom: 120px;
}

.description {
    margin-top: 8px;
    padding-bottom: 32px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* END */

.list-btn {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
    color: #4D5AE5;
    cursor: pointer;
}

.list-btn:hover,
.list-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.title-project {
    margin-top: 32px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}